<!-- <div class="img-container">
            <img [class]="answer_class" [src]="imgSrc" *ngIf="doesAnswerContainImage && !answered">
    </div> -->
<div class="paragraph-container">
    <p *ngIf="answered" [class]="answer_class">{{q.answer}}</p>
    <p *ngIf="!answered" [class]="prompt_class">{{q.prompt}} </p>
    <!-- <img [class]="question_class" [src]="questionImgSrc" *ngIf="doesQuestionContainImage && answered"> -->

    <!-- <p>{{prompt.question}}</p> -->
    <button mat-button class="join-action-button" (click)="toggleExit()" *ngIf="!answered">
        Show the answer
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_right_alt</mat-icon>
    </button>

    <button mat-button *ngIf="answered" [class]="answer_class" style="color: green" (click)="onCloseDialog(true)">
        Correct 
        <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>
    </button>

    <button mat-button *ngIf="answered" [class]="answer_class" style="color: red;" (click)="onCloseDialog(false)">
        Wrong
        <mat-icon aria-hidden="false" aria-label="Example home icon">indeterminate_check_box</mat-icon>
    </button>

</div>