<div *ngIf="!isPlaying">
    <mat-card *ngFor="let game of (games | async); let i = index">
        Game {{i}}: {{game.name}}
        <button mat-button (click)="onPlayButton(game)">Play</button>
    </mat-card>

</div>
<mat-card *ngIf="isPlaying" style="text-align: center; font-weight: bold;">
    Your score: {{myScore}}
</mat-card>
<mat-grid-list *ngIf="isPlaying" [cols]="currentGame.getAllCategories().length" rowHeight="100px">
    <mat-grid-tile *ngFor="let c of currentGame.getAllCategories()">
        <h1>{{c}}</h1>
    </mat-grid-tile>
    <div *ngFor="let i of generateArray(currentGame.getMaxSize())">
        <mat-grid-tile *ngFor="let c of currentGame.getAllCategories(); let j = index">
            <!-- {{currentGame.getQuestionAtIndex(c, i).prompt}} -->

            <flash-card class="flash-card" (click)="openDialog(currentGame.getQuestionAtIndex(c, i), 100*(i+1))"
                [catIndex]="j" style="width: 80%">
                <div class="flash-card-front">
                    {{100 * (i+1)}}
                </div>
                <div class="flash-card-back" style="text-align: center">
                    <img src="/assets/jeopardy-logo.png" style="max-height: 50%; max-width: 50%;">
                </div>
            </flash-card>`
        </mat-grid-tile>

    </div>
</mat-grid-list>
<mat-card style="text-align: center;">
    <button mat-button *ngIf="isPlaying">I'm done playing, submit my score!</button>
</mat-card>